---
layout: default
---

<h1 style="margin:0;padding:0">{{ page.title }}</h1>
{% if page.subtitle %}
<h2 style="margin:0;padding:0">{{ page.subtitle }}</h2>
{% endif %}
<h3 style="margin:0;padding:0">{{ page.date | date: "%m/%d/%Y" }}</h3>
{% if page.readtime %}
<h4 style="margin:0;padding:0">{{ page.readtime }} Minutes to Read</h4>
{% endif %}
<span>[
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
  ]</span>

{{ content }}

<h5>Comments/Questions?</h5>

<a style="font-size: .83em;">
    If you have any questions or comments,
    <u>
    <a href="https://github.com/NESWare/NESWare.github.io/issues/new?assignees=Lnk2past&labels=documentation&template=blog-post.md&title=%5BBLOG%5D" target="_blank" style="font-size: .83em;">
        open an issue!
    </a>
    </u>
</a>
